
.header {
    height: 50px;
    border-style: solid;
    border-color: gold;
    border-top-width: 3px;
    border-bottom-width: 3px;
    color: gold;
    text-align: center;
    padding-top: 10px;
}

.header-search-dropdown {
    height: 31px;
}

.card-coffee-tittle {
    color: gold;
    text-align: center;
    padding-top: 10px;
    height: 3em;
    border-radius: 20px;
    border: gold 2px solid;

}

.card-coffee {
    display: flex;
    padding-left: 10px;
    background-color: whitesmoke;
}

#td {
    text-align: center;
    background-color: #0a58ca;
    color: white;
}

.carousel-item {
    transition: transform 1s ease-in-out;
}

.dropdown_login {
    position: relative;
    display: inline-block;
}

.content-right {
    position: relative;
    display: flex;
    align-items: center;
    /*display: inline-block;*/
    gap: 10rem;
}

.menu {
    padding: 10px;
}

.menu:hover {
    color: red;
}

.menu:hover .dropdown-cafe {
    display: block;
}

.dropdown-cafe {
    position: absolute;
    top: 44px;
    z-index: 1;
    display: none;
    background-color: white;
    width: 100px;
    height: 100px;
    text-align: center;
}

.dropdown-item-second {
    position: absolute;
    top: -40px;
    right: 100px;
    z-index: 2;
    display: none;
    background-color: white;
    width: 100px;
    height: 100px;
    text-align: center;
}

.dropdown-item {
    width: 100%;
}

.dropdown-cafe {
    /*width: 100%;*/
    /*padding: 1rem;*/
}

.dropdown-cafe1:hover .dropdown-item-second {
    background-color: black;
    display: block;
}

/*.coffee-dropdown:hover .dropdownnoidung1{*/
/*    display: block;*/
/*}*/